body{
 text-align: center;    
}

h1{
    font-family: 'Jura';
}



#output{
text-align: center;
}


canvas{
    margin-top: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.35);
    
}

html{
    background-color: #57ABFF;
    
}